body {
    background: url("images/bg.png");
    animation-name: bgscroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h1 {
    color: #FFF;
    font-size: 4em;
    font-family: monospace;
}

img {
    width: 80%;
}

.center-table {
    width: 40%;
    height: 40%;
    margin-left: -20%;
    margin-top: -20%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes bgscroll {
    from {background-position: 0%;}
    to {background-position: 100%;}
}